<!doctype html>
<html lang="fr">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>OANI | {{template.title}}</title>
    </head>
    <body style="overflow-x: hidden; min-height: 100vh">
        <nav class="navbar navbar-expand fixed-top navbar-light bg-info" style="padding: 0px 15% 0px">
            <a class="navbar-brand" href="/">
                <img src="/ressources/front/Logo Bleu.png" style="max-width: 50px; max-height: 50px;">
                OANI
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    <span class="nav-item nav-link">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <a class="nav-item nav-link {% if template.active == "Acceuil" %} active {% endif%}" href="/acceuil">Acceuil</a>
                    <a class="nav-item nav-link{% if template.active == "Œuvre" %} active {% endif%}" href="/œuvre">Œuvre</a>
                    <a class="nav-item nav-link{% if template.active == "Artiste" %} active {% endif%}" href="/artiste">Artiste</a>
                    <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Évènement</a>
                    <a class="nav-item nav-link {% if template.active == "Qui sommes-nous ?" %} active {% endif%}" href="/qui-sommes-nous">Qui sommes-nous ?</a>
                </div>
            </div>
            <div class="navbar-nav">
                {% if session.connexion %}
                <div class="btn-group bg-info">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mon espace
                    </button>
                    <div class="dropdown-menu bg-info">
                        <div class="dropdown-item bg-info">
                            <div style="text-align: center">
                                <i><b>{{session.connexion.nom_utilisateur}}</b></i>
                            </div>
                            <img src="/img/avatar/{% if session.connexion.avatar %}{{session.connexion.avatar}}{% else %}default.jpg{% endif %}" style="max-width: 150px; max-heigth: 150px">
                        </div>
                        <div class="dropdown-divider bg-info"></div>
                        <a class="dropdown-item bg-info" href="/profil/user/{{session.connexion.ID}}">Mon profil</a>
                        <a class="dropdown-item bg-info" href="/déconnexion">Se déconnecter</a>
                        {% if session.connexion.nom_utilisateur == "Admin" %}
                        <div class="dropdown-divider bg-info"></div>
                        <a class="dropdown-item bg-info" href="/panel_admin">Panel Admin</a>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <!-- Button trigger modal -->
                <div class="nav-item nav-link" data-toggle="modal" data-target="#connexionModal">
                    Connexion
                </div>
                <a class="nav-item nav-link {% if template.active == "Inscription" %} active {% endif%}" href="/inscription">Inscription</a>
                {% endif %}
            </div>
        </nav>

        <div class="container-fluid" style="height: 400px; overflow: hidden; background: center/100% url('{{template.image}}')">
            <div class="container-fluid" style="position: absolute; top: 200px;">
                <div style="text-align: center;">
                    <h1 class="text-light"><b>{{template.title}}</b></h1>
                </div>
            </div>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form-connexion" method="POST" action="/connexion">	
                            <div style="padding-bottom: 10px; padding-right: 10px; padding-left: 0px;">
                                <input type="text" class="form-control" name="nom_utilisateur" id="inputText" placeholder="Nom d'utilisateur">
                            </div>
                            <div style="padding-bottom: 10px; padding-right: 10px; padding-left: 0px;">
                                <input type="password" class="form-control" name="mot_de_passe" id="inputPassword" placeholder="Mot de passe">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Se connecter" form="form-connexion">
                    </div>
                </div>
            </div>
        </div>
        <div>