			<div class="form-row py-3 ">
					
					<div class="form-group col-7 ">
						<input type="text" class="form-control" id="inputAdresse" name="adresse" placeholder="adresse" value="{{utilisateur.Adresses[0].Rue}}">
						<input type="text" class="form-control" id="inputComplement" name="complement" placeholder="complement" value="{{utilisateur.Adresses[0]["Indications Complémentaires"]}}">
					</div>
						
					<div class="form-group px-4">
						<input type="number" class="form-control" id="inputNumber" name="numero" min="1" placeholder="numéro" value="{{utilisateur.Adresses[0]["Numéro de rue"]}}">
						<input type="text" class="form-control" id="inputPost" name="postal" placeholder="code postal" value="{{utilisateur.Adresses[0]["Code Postal"]}}">
					</div>
						
					<div class="form-group px-4">
						<input type="text" class="form-control" id="inputPays" name="pays" placeholder="Pays" value="{{utilisateur.Adresses[0].Pays}}">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="masquage" id="inlineCheckBox" value="1" {% if utilisateur.Adresses[0].Masquage == 1 %} checked {% endif %}>
							<label class="form-check-label" for="inlineCheckBox">Masquage</label>
					</div>
						
					
			</div>