{% include 'panel admin/panel_admin_template_top.twig' %}
        <div class="container-fluid bg-light pt-5" style="height: 100%; overflow: auto;">
          <div class="container-fluid d-flex justify-content-between">
            <h1>Photos</h1>
            <div><a href="" class="btn btn-primary btn-sm align-bottom mt-4">+</a></div>
          </div>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                {% for index, value in photos[0] %}
                  <th scope="col">{{index}}</th>
                {% endfor %}
                <th><!-- Bouton modifier --></th>
                <th><!-- Bouton supprimer --></th>
              </tr>
            </thead>
            <tbody>
              {% for photo in photos %}
                <tr style="cursor: pointer;" onclick="document.location='/panel admin/photos/get/{{photo.ID}}'">
                  {% for index, value in photo %}
                    <th scope="col">{{value}}</th>
                  {% endfor %}
                  <th class="col-1">
                    <a href="/panel admin/photos/edit/{{photo.ID}}" class="btn btn-primary">Modifier</a>
                  </th>
                  <th class="col-1">
                    <form action="/panel admin/photos/delete" method="POST">
                      <input type="hidden" name="id" value="{{photo.ID}}">
                      <button type="submit" class="btn btn-primary">Supprimer</button>
                    </form>
                  </th>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% include 'panel admin/panel_admin_template_bot.twig' %}