{% include 'panel admin/panel_admin_template_top.twig' %}
            <!-- Début du code -->
            
 

            <a href="/"><h1 class="mb-5 text-center">Modification de l'utilisateur {{user.ID}}</h1></a>

            <form action="" method="POST">
                
				
				<thead>
                        <tr>
                            {% for index, value in user %}
                                <th scope="col">{{index}}</th>
                            {% endfor %}
                        </tr>
                </thead>	
                        
                           
                            
				<div class="container">			
					<div class="d-flex flex-column bd-highlight mb-3">
					 {% for index, value in user %}
					 
					 {% if(index == "Nom d'utilisateur")%}
						<div class="p-2 bd-highlight">
							<input type="text" class="form-control" name="inputName" value="{{value}}" >
						</div>
					{% endif %}	
					
					{% if(index == "Adresse mail") %}
						<div class="p-2 bd-highlight">
							<input type="text" class="form-control" name="email" value="{{value}}">
						</div>
					{% endif %}
					
					{% if(index == "Mot de passe") %}
						<div class="p-2 bd-highlight">
							<input type="text" class="form-control" name="mot_de_passe" value="{{value}}">
						</div>
					{% endif %}

					{% if(index == "Description") %}
						<div class="p-2 bd-highlight">
							<textarea class="form-control" name="description" rows="3" >{{value}}</textarea>
						</div>
					{% endif %}
					
					{%if(index == "Avatar" and value != null)%}
						<div class="p-2 bd-highlight">
							<img src="http://localhost:8081/img/Avatar/{{value}}" width="200" height="200" alt="..." class="img-fluid">
						</div>
					{% endif %}	
					
					{% if(index == "Adresses") %}
						<div class="p-2 bd-highlight">
							<input type="text" class="form-control" name="rue" value="{{value[0].Rue}}">
							<div class="form-group col-7 ">
								<input type="text" class="form-control" id="inputAdresse" name="adresse" value="{{value[0].Rue}}">
								<input type="text" class="form-control" id="inputComplement" name="complement" value="{{value[0].Code_Postal}}">
							</div>
						
							<div class="form-group px-4">
								<input type="number" class="form-control" id="inputNumber" name="numero" min="1" placeholder="numero">
								<input type="text" class="form-control" id="inputPost" name="postal" placeholder="code postal">
							</div>
						
							<div class="form-group px-4">
								<input type="text" class="form-control" id="inputPays" name="pays" placeholder="pays">
						
							</div>
							
						</div>
					{% endif %}
						
					{% endfor %}
					</div>
					
				</div>			
							
				<div class="container">
				
								
				</div>

			
                            
                
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
           
            <!-- Fin du code -->
{% include 'panel admin/panel_admin_template_bot.twig' %}


								<!--<input type="text" class="form-control" id="{{index}}" name="{{index}}" value="{{value}}" >

									<div class="form-row px-3 py-1 ml-1 mt-0">
										
										{%if(index == "Avatar" and value != null)%}
									
										<img src="http://localhost:8081/img/Avatar/{{value}}" width="200" height="200" alt="..." class="img-fluid">
										
										{% endif %}
										
								</div>
								
								<div class="form-row px-3 py-1 ml-1 mt-0">
									<div class="form-group col-md-6">
									{% if(index == "Nom d'utilisateur")%}
										<input type="text" class="form-control" name="inputName" value="{{value}}" >
										
									{% endif %}	
									
										<div class="form-group col-md-6">
									{% if(index == "Adresse mail") %}
											<input type="text" class="form-control" name="email" value="{{value}}">
									{% endif %}
										</div>
										<div class="form-group col-md-6">
									{% if(index == "Mot de passe") %}
											<input type="text" class="form-control" name="mot_de_passe" value="{{value}}">
									{% endif %}
										</div>
										
										<div class="form-row px-3 py-1 ml-1 mt-0">
										<div class="col-7">
										{% if(index == "Description") %}
											<textarea class="form-control" name="description" rows="3" placeholder="description"></textarea>
										{% endif %}
										</div>
										
									</div>
									
								</div>	
									
									
									
									
										
									
									
								</div>
								