{% include 'panel admin/panel_admin_template_top.twig' %}
        <!-- Début du code -->
        
				<form action="" method="POST" enctype="multipart/form-data">
					<div class="form-row">
						<div class="form-group col-md-6">
							<input type="text" class="form-control" id="inputName" name="nom" placeholder="nom de l'oeuvre" {% if oeuvre.Titre %} value={{oeuvre.Titre}} {% endif%}>
						</div>
						{% if not oeuvre.Auteur %}
						<div class="form-group col-md-6">
							<select id="inputArtist" name="artiste" class="form-control">
								<option selected>Choose...</option>
								{% for artiste in artistes %}
								<option value={{artiste.ID}}>{{artiste.Pseudo}}</option>
								{% endfor %}
							</select>
						</div>
						{% else %}
						<div class="form-group col-md-6">
							<select id="inputArtist" name="artiste" class="form-control">
								<option selected>{{artiste.Pseudo}}</option>
								
							</select>
						</div>
											
						{% endif %}
					</div>
					
					<div class="form-row">
						<div class="form-group">
							<input type="text" class="form-control" name="prix" id="inputPrice" placeholder="Prix" {% if oeuvre["Prix de location"] %} value={{oeuvre["Prix de location"]}} {% endif %}>
						</div>
					</div>
						
					<div class="form-row">
						<div class="col-7">
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description" placeholder="description">{{oeuvre.Description}}</textarea>
						</div>
						
						<div class="form-row px-3 py-1 ml-1 mt-0  ">
							<input type="text" class="form-control" id="inputName" name="tags" placeholder="tag" >
							{% if oeuvre.Tags %} 
							<select id="inputArtist" name="artiste" class="form-control">
								{% for tag in oeuvre.Tags %}
								<option value={{tag.Tag}}>{{tag.Tag}}</option>
								{% endfor %}
							</select>
							{% endif %}
						</div>
						
					</div>
					<br>
					
					
					{% if not oeuvre %}
					<div class="spoiler"><br>
					<input onclick="showSpoiler(this);" value="photo" type="button">
						<div class="input-group mb-3"  style="display: none;">
							<label for="avatar"> entrez photo oeuvre </label>
							<input type="file"  name="photo1" id="avatar">
							<div class="spoiler"><br>
								<input onclick="showSpoiler(this);" value="photo" type="button" ><br>
								<div class="input-group mb-3"  style="display: none;">
									<label for="avatar"> entrez photo oeuvre </label>
									<input type="file"  name="photo2" id="avatar">
									<div class="spoiler"><br>
									<input onclick="showSpoiler(this);" value="photo" type="button" ><br>
										<div class="input-group mb-3"  style="display: none;">
											<label for="avatar"> entrez photo oeuvre </label>
											<input type="file"  name="photo3" id="avatar">
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					{% endif %}
					
					
					{% if oeuvre.ID %}
					
					

					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							{% for photo in oeuvre.Photos %}
							<div class="carousel-item {% if photo.ID == oeuvre.Photos[0].ID %} active {% endif%}">
								<img src="http://localhost:8081/img/oeuvre/{{oeuvre.ID}}/{{photo.URL}}" class="d-block w-100" alt="...">
							</div>
							{% endfor %}
							
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					{% endif %}

						
					{% include 'panel admin/adresse_template.twig'  with {'foo': 'bar'} %}
						
					<button type="submit" class="btn btn-primary">Enregistrer</button>
					
					
				</form>
				<!-- début code script -->
				
				<script>
					function showSpoiler(obj)
					{
						var inner = obj.parentNode.getElementsByTagName("div")[0];
						if (inner.style.display == "none")
							inner.style.display = "";
						else
							inner.style.display = "none";
					}
				</script>
				<!-- fin du code script --> 
				
        <!-- Fin du code -->
{% include 'panel admin/panel_admin_template_bot.twig' %}